<div class="main-page-container">

  <h1 class="title" class="welcome-page-item">
    Welcome to myFlix!
  </h1>

  
  <div class="welcome-page-buttons" class="welcome-page-item">
    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px;"
      color="primary"
    >
      Sign Up
    </button>
    
    <button
      mat-raised-button
      color="primary"
      (click)="openUserLoginDialog()"
      style="margin-right: 10px;"
    >
      Login
    </button>
  </div>

</div>