.main-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

.welcome-page-item {
  display: flex;
  justify-content: center;
}


// .title {
// }

// .welcome-page-buttons {
// }