.navbar {
  display: flex;
  width: 100%;
  position: fixed;
  background-color: rgb(37, 141, 101);
  z-index: 999;
}

.nav-item {
  margin: 2em
}

.nav-movies {

}

.nav-profile {

}

.nav-logout {

}
