
.movie-list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
  padding-top: 5em;
}

.movie-card {
  flex: 0 1 22%;
  margin-left: 20px;
  margin-bottom: 2em;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
  outline: 0.1em solid black;
  border-radius: 10px;

}

.movie-title {
  margin-bottom: 1em;
}

.details-button {
  background-color: rgb(73, 189, 27);
  margin-left: 1em;
  font-weight: bold;
}

.button-container {
  justify-content: center;
}

.favorite-icon {
  display: flex;
  justify-content: flex-end;
}