<app-navbar class="navbar"></app-navbar>
<div class="movie-list">
  <mat-card class="movie-card" *ngFor="let movie of movies;">
      <mat-card-header>
      <mat-card-title class="movie-title">{{movie.Title}}</mat-card-title>
          <!-- <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle> -->
      </mat-card-header>
      <img class="movie-img" src={{movie.ImagePath}} alt= {{movie.Title}} />
      <mat-card-actions class="button-container">
          <button
              class="details-button"
              mat-button
              color="primary"
              (click)="getGenreDetails(movie.Genre.Name, movie.Genre.Description)"
          >
              Genre
          </button>
          <button
              class="details-button"
              mat-button
              color="primary"
              (click)="getDirectorDetails(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)"
          >
              Director
          </button>
          <button
              class="details-button"
              mat-button
              color="primary"
              (click)="getMovieDetails(movie.Title, movie.Description)"
          >
              Details
          </button>

            <mat-icon
            class="favorite-icon"
            (click)="toggleFavMovie(movie._id)"
            >{{favoriteMovies.includes(movie._id) ? 'favorite' : 'favorite_border'}}</mat-icon>

        </mat-card-actions>
  </mat-card>
</div>


