.login-text {
  justify-content: center;
  margin-bottom: 1em;
}

.login-inputs-container {
  display: flex;
  flex-direction: column;
}

.login-inputs {
  margin-left: 1em;
}

.login-button {
  justify-content: center;
}

